* {
    margin: 0;
    padding: 0;
}

.bg {
    height: 31px;
    background: #e3e4e5;

    header {
        height: 31px;
        width: 1190px;
        margin: 0px auto;

        ul {
            line-height: 31px;
            font-size: 11px;
            color: #999999;
        }

        a {
            color: #999999;
            text-decoration: none;

            &:hover {
                color: red;
            }
        }

        .header-left,
        .header-left li {
            float: left;
            z-index: 9;
        }
        .header-left li {
            width: 50px;
            position: relative;
            padding-left: 30px;
            z-index: 12;
        }
        .header-left span {
            width: 16px;
            height: 16px;
            .gps {
                background: url("../images/user-plus-status.png") no-repeat 0px -84px;
                position: absolute;
                left: 13px;
                top: 7px;
            }
        
        }
        .header-left .db div {
            width: 312px;
            height: 356px;
            background: #fff;
            position: absolute;
            top: 31px;
            left: 0px;
            padding: 8px 10px;
            border: 1px solid #e3e4e5;
            border-top: 0px;
        }
        .db div>dl {
            width: 312px;
            margin-bottom: 10px;
        }
        .db .up::after {
            content: "";
            display: block;
            clear: both;
        }
        .db .down {
            padding-top: 15px;
            border-top: 1px solid #e3e4e5;
            position: relative;
        }
        .db .up dd {
            width: 36px;
            float: left;
            margin-right: 16px;
            text-align: center;
            &:hover {
                color: red;
                background: #e3e4e5;
            }
        }

        .db dt {
            margin-bottom: 10px;
        }

        .db .down dd {
            width: 120px;
            float: left;
            margin-left: 30px;
            &:nth-of-type(1)::before {
                content: "";
                width: 16px;
                height: 16px;
                background: url("../images/下载.png")no-repeat 0px 0px;
                position: absolute;
                top: 65px;
                left: 10px;
            }
            &:nth-of-type(2)::before {
                content: "";
                width: 16px;
                height: 16px;
                background: url("../images/下载.png")no-repeat -19px 0px;
                position: absolute;
                top: 65px;
                left: 158px;
            }
            &:nth-of-type(3)::before {
                content: "";
                width: 16px;
                height: 16px;
                background: url("../images/下载.png")no-repeat 0px -16px;
                position: absolute;
                top: 97px;
                left: 10px;
            }
            &:nth-of-type(4)::before {
                content: "";
                width: 16px;
                height: 16px;
                background: url("../images/下载.png")no-repeat -39px 0px;
                position: absolute;
                top: 97px;
                left: 158px;
            }
            &:nth-of-type(5)::before {
                content: "";
                width: 16px;
                height: 16px;
                background: url("../images/下载.png")no-repeat -19px -16px;
                position: absolute;
                top: 127px;
                left: 10px;
            }
        }
        .header-right {
            width: 708px;
            height: 16px;
            float: right;
            text-align: center;
            position: relative;
            z-index: 8;
            >li {
                float: left;
                padding: 0px 9px;
                position: relative;
                &::after {
                    content: "|";
                    color: #cccccc;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                }
                &:nth-of-type(8)::after {
                    content: '';
                }
                &:nth-of-type(8) {
                    border: none;
                }
                &:nth-of-type(1) {
                    margin-left: 29px;
                    padding-right: 14px;
                    position: relative;
                }
            }
            .plus {
                width: 38px;
                height: 16px;
                background: url(../images/user-plus-status.png) no-repeat 0px -68px;
                position: absolute;
                top: 8px;
                right: 40px;
            }
            .arrow {
                padding-right: 28px;
                position: relative;
            }
            .tip {
                width: 12px;
                height: 4px;
                top: 14px;
                right: 8px;
                position: absolute;
                background: url(../images/icon.png) no-repeat 0px -178px;
            }
            .myjd {
                div {
                    position: absolute;
                    width: 280px;
                    height: 140px;
                    top: 30px;
                    left: -2px;
                    border: 1px solid #e3e4e5;
                    border-top: 0px;
                    background: #fff;
                    dl {
                        width: 120px;
                        float: left;
                        padding-right: 20px;
                        margin: 6px 0px 2px 0px;
                        border-bottom: 1px solid #e3e4e5;
                        &:nth-of-type(3) {
                            margin-top: 10px;
                            border-bottom: 0px;
                        }
                        &:nth-of-type(4) {
                            margin-top: 10px;
                            border-bottom: 0px;
                        }
                        dd {
                            text-align: left;
                            line-height: 24px;
                            padding-left: 10px;
                        }
                    }
                }


            }
            .coll ol {
                width: 160px;
                height: 56px;
                background: #fff;
                position: absolute;
                top: 31px;
                left: 0px;
                padding: 4px 0px;
                border: 1px solid #e3e4e5;
                border-top: 0px;
            }
        }
    }
}